$appPadding:10px;
$appMargin: 10px;

$ymcaBlack: #231f20;
$ymcaGray: #636466;
$ymcaWhite: #ffffff;

$bestSummerEverThemeColor1: #20bdbe;
$bestSummerEverThemeColor2: #01a490;
$bestSummerEverThemeColor2: #006b6b;

$timeToExploreThemeColor1: #0060af;
$timeToExploreThemeColor2: #0089d0;
$timeToExploreThemeColor2: #00aeef;

$joinUsInGivingBackThemeColor1: #5c2e91;
$joinUsInGivingBackThemeColor2: #92278f;
$joinUsInGivingBackThemeColor2: #c6168d;

$togetherWeCanBuildThemeColor1: #a92b31;
$togetherWeCanBuildThemeColor2: #ed1c24;
$togetherWeCanBuildThemeColor2: #f15922;

$forCommunityThemeColor1: #dd5828;
$forCommunityThemeColor2: #f47920;
$forCommunityThemeColor2: #fcaf17;